#form{
    width:60vw;
    background-color: rgba(211, 211, 211, 0.9);
    border: grey solid 2px;
}
h1 {
    text-shadow: 1px 1px 10px lightgray, -1px -1px 10px lightgray;
}

@media (max-width:992px){
    #form{
        width:90vw;
    }
}