#agenda{
    background-color: grey;
    opacity: 0.9;
    border: solid grey 2px;
}
#item{
    border: solid grey 2px;
    background-color: lightgrey;
}
p{
    opacity: 1 !important;
    color: black;
}