
#agenda{
    border: solid grey 2px;
}
.item{
    border: solid grey 2px;
    background-color: rgb(211, 211, 211, 0.9);
}
.stop{
    height: 5vh !important;
}
img{
    height: 15vh;
}
.person-name:hover{
    cursor: pointer;
    text-decoration:underline;
}
.fa-pencil:hover{
    cursor: pointer;
    color:blue;
}

.fa-trash-can:hover {
    cursor:pointer;
    color: red;
}