/* 
    General Styles
*/

body {
    background: url("/fondoAgenda.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.navbar, footer{
    background-color: #343a40;
}

#logo{
    height: 5vh;
}